@use "Styles/funcs";
@use "Styles/vars";

div.accordionBody {
  display: none;

  &.show {
    display: block;
  }
}

li {
  $depth: 4px;
  border-radius: vars.$roundCorners;
  color: vars.$tertiaryColor;

  @mixin inset($color) {
    -webkit-box-shadow: inset 0px 0px 0px $depth $color;
    -moz-box-shadow: inset 0px 0px 0px $depth $color;
    box-shadow: inset 0px 0px 0px $depth $color;
  }

  button {
    height: 60px;
    font-size: 2rem;
  }
  &:hover {
    @include inset(vars.$tertiaryColor);
    background-color: rgba(vars.$gray, 0.4);
    transition: 0.3s;
    box-shadow: 0px 0px 15px 5px vars.$tertiaryColor;
  }
  &.notShow {
    @include inset(vars.$tertiaryColor);
  }

  &.accordionItem {
    width: 99%;

    .accordionHeader {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .accordionHeaderSection {
        &.left {
          width: 10%;
        }
        &.center {
          width: 80%;

          .accordionButton {
            width: 100%;
            cursor: pointer;
          }
        }

        &.right {
          width: 10%;
        }
      }
    }

    &.show {
      @include inset(rgba(vars.$tertiaryColor, 0.5));
      border-radius: vars.$roundCorners;
      background-color: rgba(vars.$gray, 0.1);

      p {
        color: vars.$white;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}


