@use "Styles/funcs";
@use "Styles/vars";

$height: 60px;

div.accordionBody {
  display: none;

  &.show {
    display: block;
  }
}

li.accordionItem {
  $depth: 4px;
  border-radius: vars.$roundCorners;
  color: vars.$tertiaryColor;
  height: $height;
  width: 99%;

  @mixin inset($color) {
    -webkit-box-shadow: inset 0px 0px 0px $depth $color;
    -moz-box-shadow: inset 0px 0px 0px $depth $color;
    box-shadow: inset 0px 0px 0px $depth $color;
  }

  &:hover {
    @include inset(vars.$tertiaryColor);
    background-color: rgba(vars.$gray, 0.4);
    transition: 0.3s;
    box-shadow: 0px 0px 15px 5px vars.$tertiaryColor;
  }
  &.notShow {
    @include inset(vars.$tertiaryColor);
  }

  .accordionHeader {
    @include funcs.flexCenter();
    height: $height;

    .accordionHeaderSection {
      button {
        background: transparent;
        border: none;
      }

      &.left,
      &.right {
        width: 10%;
      }
      &.center {
        width: 80%;

        .accordionButton {
          @include funcs.flexCenter();
          height: $height;
          font-size: 1.5rem;
          padding: 20px;
          background: transparent;
          color: vars.$tertiaryColor;
          border: none;
          cursor: pointer;

          span {
            min-width: 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }

  &.show {
    @include inset(rgba(vars.$tertiaryColor, 0.5));
    border-radius: vars.$roundCorners;
    background-color: rgba(vars.$gray, 0.1);
    height: auto;

    button {
      overflow: visible;
      white-space: normal;
      text-overflow: clip;
    }

    p {
      color: vars.$white;
    }

    &:hover {
      opacity: 1;
    }

    .accordionHeaderSection {
      button {
        background: transparent;
        border: none;
      }
      &.left {
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          height: auto;
        }
      }
      &.center {
        width: 80%;

        .accordionButton {
          width: 100%;
          cursor: pointer;
        }
      }

      &.right {
        width: 10%;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
