@use "Styles/funcs";
@use "Styles/vars";

$height: 60px;

.accordionHeader {
    @include funcs.flexCenter();
    height: $height;

    .accordionHeaderSection {
      button {
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0px;
      }
      
      &.left, &.right {
        width: 0%;
        height: $height;
      }
      &.center {
        width: 100%;

        .accordionButton {
          @include funcs.flexCenter();
          height: $height;
          font-size: 1.5rem;
          padding: 0px 20px;
          background: transparent;
          color: vars.$tertiaryColor;
          border: none;
          cursor: pointer;

          span {
            min-width: 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          };
        }
      }
    }

	&.selected {
		.accordionHeaderSection {
			&.left, &.right {
				width: 15%;
				display: flex;
				justify-content: center;
				align-items: center;
        flex-shrink: 0;
			}
			&.center {
				width: 70%;

				.accordionButton {
					width: 100%;
				}
			}
		}
	}
}