@use "Styles/funcs";
@use "Styles/vars";

$height: 60px;
$outerSectionWidth: 0%;
$innerSectionWidth: 100%;
$outerSectionWidthWhenSelected: 20%;
$innerSectionWidthWhenSelected: 80%;

.accordionHeader {
    @include funcs.flexCenter();
    height: $height;

    .accordionHeaderSection {
      button {
        background: transparent;
        border: none;
        cursor: pointer;
      }
      
      &.left, &.right {
        width: $outerSectionWidth;
      }
      &.center {
        width: $innerSectionWidth;

        .accordionButton {
          @include funcs.flexCenter();
          height: $height;
          font-size: 1.5rem;
          padding: 20px;
          background: transparent;
          color: vars.$tertiaryColor;
          border: none;
          cursor: pointer;

          span {
            min-width: 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          };
        }
      }
    }

	&.selected {
		.accordionHeaderSection {
			&.left, &.right {
				width: $outerSectionWidthWhenSelected;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			&.center {
				width: $innerSectionWidthWhenSelected;

				.accordionButton {
					width: 100%;
				}
			}
		}
	}
}