@use 'vars';
@use 'funcs';

.title {
    @include funcs.flexCenter();
    width: 100%;
    position: fixed;
    height: 150px;
    top: 0;
    background-color: vars.$primaryColor;
    color: vars.$tertiaryColor;
    z-index: vars.$floatingZ;
}