@use 'vars';
@use 'funcs';

.title {
    @include funcs.flexCenter();
    margin: 0;
    position: fixed;
    height: 150px;
    top: 0;
    left: 0;
    font-size: 3rem;
    color: vars.$tertiaryColor;
    z-index: vars.$floatingZ;
    margin: 0px;
    background: rgb(18,31,38);
    background: -moz-linear-gradient(0deg, rgba(18,31,38,0) 0%, rgba(18,31,38,1) 36%);
    background: -webkit-linear-gradient(0deg, rgba(18,31,38,0) 0%, rgba(18,31,38,1) 36%);
    background: linear-gradient(0deg, rgba(18,31,38,0) 0%, rgba(18,31,38,1) 36%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#121f26",endColorstr="#121f26",GradientType=1);  
}