@use "vars";
@use "funcs";


.listContainer {
  ul {
    padding: 0;
    margin: 0;
    max-width: 90%;
    width: 450px;
    background-color: vars.$primaryColor;
  }
  
  li {
    display: inline-block;
    list-style: none;
    padding: 0;
    text-align: center;
    box-shadow: rgba(vars.$secondaryColor, 0.8) 2px 2px 5px;
    font-size: vars.$listFont;
    margin: 10px 0;
    background-color: rgba(vars.$secondaryColor, 0.2);
    width: 100%;
    &:hover {
      opacity: 0.6;
    }
  }
  
  a {
    height: 80px;
    color: vars.$tertiaryColor;
    text-decoration: none;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
  }
  
  .nameContainer {
    width: 90%;
    position: absolute;
    top: 25%;
    left: 5%;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
