@use "vars";
@use "funcs";


.listContainer {
  ul {
    padding: 0;
    margin: 0;
    max-width: 500px;
    background-color: vars.$primaryColor;
  }
  
  li {
    display: inline-block;
    list-style: none;
    padding: 0;
    height: 100px;
    text-align: center;
    box-shadow: rgba(vars.$secondaryColor, 0.8) 2px 2px 5px;
    font-size: 3rem;
    margin: 10px 0;
    background-color: rgba(vars.$secondaryColor, 0.2);
    width: 100%;
    &:hover {
      opacity: 0.6;
    }
  }
  
  a {
    height: 100px;
    display: block;
    color: vars.$tertiaryColor;
    text-decoration: none;
    overflow-wrap: break-word;
  }
  
  .nameContainer {
    @include funcs.flexCenter();
    height: 100%;
  }
}
