//colors
$primary-color: #121F26;
$secondary-color: #355a6e;
$tertiary-color: #5ae7ff;

//$header-text: ;
//$list-test

//login page variables
$roundCorners: 5px !important;
$flexDisplay: flex !important;
$flexDirection: column !important;
$formChildPad: 5px 10px 5px 10px !important;
$formPad: 20px 40px 30px 40px;
$uniformWidth: 200px;
$justify: center;
$alignItems: center;

//button variables
$buttonHoverShadow: 2px 2px 4px rgb(58, 58, 57) inset;
$transition: .5s;

//playlists variables