// general colors
$gray: rgb(43, 43, 43);
$white: whitesmoke;

// colors for primary theme
$primaryColor: #121f26;
$secondaryColor: #355a6e;
$tertiaryColor: #5ae7ff;

// font
$font: monospace;

// layers seperated with z-indices
$floatingZ : 1000;

// media query breakpoints
$phoneBreakpoint: 600px;
$tabletBreakpoint: 1080px;





$light-primary-color: whitesmoke;
$light-secondary-color: #51626c;
$light-tertiary-color: #0b0b0b;

//$header-text: ;
//$list-test

// @mixin theme($theme: DarkGray) {
//   background: $theme;
//   box-shadow: 0 0 1px rgba($theme, .25);
//   color: #fff;
// }

// .info {
//   @include theme;
// }
// .alert {
//   @include theme($theme: DarkRed);
// }
// .success {
//   @include theme($theme: DarkGreen);
// }





// // themes config
// $themes: (
//     dark: (
//         $primary-color: $dark-primary-color,
//         $secondary-color: $dark-secondary-color,
//         $tertiary-color: $dark-tertiary-color,
//     ),

//     light:(
//         $primary-color: $light-primary-color,
//         $secondary-color: $light-secondary-color,
//         $tertiary-color: $light-tertiary-color,
//     ),
// );


// // themes mixin
// @mixin themify ($themes) {
//     @each $theme, $map in $themes {
//     }
// }


//Masood's stuff
//colors
$test-color: #f17602;

//$header-text: ;
//$list-test

//login page variables
$roundCorners: 25px;
$flexDisplay: flex;
$flexDirection: column;
$formChildPad: 5px 10px 5px 10px;
$formPad: 20px 40px 30px 40px;
$uniformWidth: 200px;
$justify: center;
$alignItems: center;

//button and input variables
$buttonHoverShadow: 2px 2px 4px rgb(58, 58, 57) inset;
$transition: .5s;
$outlineTransition: 5px solid #355a6e;