@use "Styles/funcs";
@use "Styles/lists";
@use "Styles/doc";

.playlists {
  @include funcs.flexCenter();
  max-width: 100%;
  margin-top: 150px;

  li {
    border-radius: vars.$roundCorners;
  }
}

.searchItem {
  @include funcs.flexCenter();

  .bar {
    width: 60%;
  }
}
