@use "Styles/vars";
@use "Styles/funcs";

ul {
  &.accordion {
    @include funcs.flexCenter;
    flex-direction: column;
    width: 65%;
    border-radius: vars.$roundCorners;
  }
}

.accordionContainer {
  @include funcs.flexCenter();
  margin: 150px 0 275px;
}

/* -------------
  media queries
----------------- */

@media screen and (max-width: vars.$tabletBreakpoint) {
  ul {
    &.accordion {
      width: 90%;
    }
  }
}

@media screen and (max-width: vars.$phoneBreakpoint) {
  ul {
    &.accordion {
      width: 100%;
    }
  }
}
