@use 'Styles/vars';

.accordion {
    height: 1100px; // => calc(listItem.height * numberOfSongs)) 
    overflow: auto;
    margin-top: 150px;
    padding: 0 10%;
}

@media screen and (max-width: vars.$tabletBreakpoint) {
    .accordion {
        padding: 0;
        height: 1200px;
    }
}
