@import 'Styles/variables';

.accordion-button {
    background-color: $secondary-color !important;
    color: $tertiary-color !important;
}

.accordion-item {
    background-color: whitesmoke !important;
    color: $primary-color !important;
}

.accordion-button:not(.collapsed) {
    color: whitesmoke !important;
}
