@use 'Styles/vars';

.accordion-button {
    background-color: vars.$secondaryColor !important;
    color: vars.$tertiaryColor !important;
}

.accordion-item {
    background-color: rgba(vars.$gray, 0.3) !important;
    color: vars.$white !important;
}

.accordion-button {
    &:not(.collapsed) {
        color: vars.$white !important;
    }
}
