@use 'Styles/vars';
@use 'Styles/funcs';
$width: 25px;


.uploadArea {
    width: 80%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px vars.$tertiaryColor dashed;
    z-index: vars.$floatingZ - 20;
    border-radius: 20px;
    font-size: 1rem;
    label {
        cursor: pointer;
        @include funcs.flexCenter;
        flex-direction: column;
        padding-top: 10px;
    }
    input {
        display: none;
    }
}