@use "Styles/funcs";
@use "Styles/vars";

$height: 60px;

div.accordionBody {
  display: none;
  color: vars.$tertiaryColor;

  &.open {
    @include funcs.flexCenter();
    flex-direction: column;
    padding: 20px 0px 30px 0px;

    p {
      margin: 10px 0px;
    }
  }
}

