@use "Styles/funcs";
@use "Styles/vars";

$height: 60px;

button.accordionBody {
  display: none;
  color: vars.$tertiaryColor;
  font-size: 2.2rem;

  &.info {
    cursor: pointer;
  }

  &.open {
    @include funcs.flexCenter();
    flex-direction: column;
    padding: 20px 0px 30px 0px;

    p {
      margin: 10px 0px;
      @include funcs.flexCenter();

      input {
        border: none;
        background: none;
        color: whitesmoke;
        font-size: inherit;
        width: 60px;
      }
    }
  }
}

