:root {
    --primary-color: #121F26;
    --secondary-color: #355a6e;
    --tertiary-color: #5ae7ff;
}

html, nav, body {
    background: var(--primary-color) !important;
    color: var(--tertiary-color) !important;
}

ul {
    padding: 0 !important;
    margin: 0 !important;
    width: calc(100% - 30px);
    max-width: 500px;
}

li {
    display: inline-block;
    list-style: none;
    padding: 0;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 3rem;
    margin: 2vh 0;
    background-color: var(--secondary-color);
    width: 100%
}

li:hover
{
    opacity: 0.6 !important;
}

a {
    display: block;
    color: var(--tertiary-color) !important;
    text-decoration: none !important;
    padding: calc((20vh - 100px) / 4);
    overflow-wrap: break-word;
}

a:hover {
    color: black !important;
}

.title {
    text-align: center;
    padding: 5vh;
    height: 100px;
}

.audioPlayer { 
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    z-index: 1000;
}

.playlists {
    max-width: 100%;
    justify-content: center;
    display: flex;
}