@use "Styles/main";

.audioPlayer {
  @include main.flexCenter();
  background-color: main.$primaryColor;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px;
  z-index: main.$floatingZ;

  .audioPlayerUI {
    @include main.flexCenter();
    padding: 0 2%;

    &.name {
      width: 20%;
      overflow-wrap: break-word;
    }

    &.currentPosition {
      width: 30%;
      padding: 10px;

      .slider {
        width: 100%;
      }
    }

    &.controls {
      width: 20%;

      .forwardBackward {
        @include main.flexCenter();
        color: main.$tertiaryColor;
        background: none;
        border: none;
        font-family: monospace;
        font-size: 2rem;
        cursor: pointer;
        &:hover {
          color: main.$secondaryColor;
        }
      }

      .playPause {
        @include main.flexCenter();
        background-color: main.$primaryColor;
        border: none;
        border-radius: 50%;
        font-size: 4rem;
        color: main.$white;
        &:hover {
          color: main.$secondaryColor;
        }
      }
    }
  }

  .currentTime,
  .duration {
    font-family: monospace;
    font-size: 16px;
    padding: 0 2%;
  }

  .currentTime {
    margin-left: 25px;
  }

  .progressBar {
    --bar-bg: #74b0d6d5;
    --seek-before-width: 0;
    --seek-before-color: #54809cd5;
    --knob: black;
    --selected-knob: rgb(66, 65, 65);

    appearance: none;
    background: var(--bar-bg);
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 11px;
    outline: none;

    /* firefox */
    &::-moz-range-track {
      background: var(--bar-bg);
      border-radius: 10px;
      position: relative;
      width: 100%;
      height: 11px;
      outline: none;
    }

    &::-moz-focus-outer {
      border: 0;
    }

    /* safari */
    &::-webkit-slider-runnable-track {
      background: var(--bar-bg);
      border-radius: 10px;
      position: relative;
      width: 100%;
      height: 11px;
      outline: none;
    }

    /* chrome safari progress bar */
    &::before {
      content: "";
      height: 11px;
      width: var(--seek-before-width);
      background-color: var(--seek-before-color);
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      cursor: pointer;
    }

    /* firefox progress bar */
    &::-moz-range-progress {
      background-color: var(--seek-before-color);
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      height: 11px;
    }

    /* chrome safari knob */
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 25px;
      width: 25px;
      border-radius: 50%;
      border: none;
      background-color: var(--knob);
      cursor: pointer;
      position: relative;
      margin: -2px 0 0 0;
      z-index: 3;
      box-sizing: border-box;
    }

    /* chrome safari knob while dragging */
    &:active::-webkit-slider-thumb {
      transform: scale(1.2);
      background: var(--selected-knob);
      border: 1px solid main.$white;
    }

    /* firefox knob */
    &::-moz-range-thumb {
      height: 25px;
      width: 25px;
      border-radius: 50%;
      border: transparent;
      background-color: var(--knob);
      cursor: pointer;
      position: relative;
      z-index: 3;
      box-sizing: border-box;
    }

    /* firefox knob while dragging */
    &:active::-moz-range-thumb {
      transform: scale(1.2);
      background: var(--selected-knob);
      border: 2px solid rgba(main.$white, 0.5);
    }
  }
}

/* -------------
  media queries
----------------- */

@media screen and (max-width: main.$tabletBreakpoint) {
  .audioPlayer {
    flex-direction: column;
    height: 245px;
    padding: 15px;

    .audioPlayerUI {
      padding-bottom: 0 0 15px;

      &.name {
        width: 60%;
      }

      &.currentPosition {
        width: 65%;
      }

      & h2 {
        padding: 2vh 0;
        display: block;
      }

      & button {
        padding: 1vh;
      }
    }

    .currentTime {
      margin: 0 !important;
    }
  }
}

@media screen and (max-width: main.$phoneBreakpoint) {
  .audioPlayer {
    .audioPlayerUI {
      &.currentPosition {
        width: 100%;
      }
    }
  }
}
