@use "Styles/vars";
@use "Styles/funcs";

//Masood's stuff
//colors
$test-color: #f17602;

//$header-text: ;
//$list-test

//login page variable
$flexDisplay: flex;
$flexDirection: column;
$formChildPad: 5px 10px 5px 10px;
$formPad: 20px 40px 30px 40px;
$justify: center;
$alignItems: center;

//button and input variables
$buttonHoverShadow: 2px 2px 4px rgb(58, 58, 57) inset;
$transition: 0.4s;
$outlineTransition: 3px solid #355a6e;

.container {
  height: 100vh;
  @include funcs.flexCenter();
  form {
    @include funcs.flexCenter();
    flex-direction: $flexDirection;
    background-color: rgba(vars.$gray, 0.3);
    width: 375px;
    border-radius: vars.$roundCorners;
    padding: $formPad;
    .error {
      max-height: min-content;
      color: red;
    }
    label {
      @include funcs.flexCenter();
      flex-direction: $flexDirection;
      color: vars.$tertiaryColor;
      padding: $formChildPad;
      width: 100%;
      font-weight: 500;
      font-size: 1.5rem;
      input {
        border: none;
        color: vars.$tertiaryColor;
        background-color: rgba(vars.$gray, 0.9);
        font-size: 1.2rem;
        padding: $formChildPad;
        width: 100%;
        border-radius: vars.$roundCorners;
        &:hover {
          transition: 1s;
          background-color: vars.$secondaryColor;
          outline: $outlineTransition;
        }

        &:focus {
          background-color: vars.$secondaryColor;
          color: vars.$primaryColor;
        }
      }
    }
    button {
      border: none;
      padding: $formChildPad;
      background-color: vars.$secondaryColor;
      width: 250px;
      border-radius: vars.$roundCorners;
      margin: 20px 0px 0px 0px;
      &:hover {
        background-color: rgba(vars.$tertiaryColor, 0.5);
        color: rgba(vars.$secondaryColor, 0);
      }
      &:hover:after {
        content: "Lets go!";
        color: vars.$tertiaryColor;
        padding-right: 50px;
      }
    }
  }
}
