@use 'Styles/vars';
@use 'Styles/funcs';

div.container {
    height: 100vh;
    @include funcs.flexCenter();
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    form {
        @include funcs.flexCenter();
        flex-direction: vars.$flexDirection;
        background-color: vars.$secondaryColor;
        width: 375px;
        border-radius: vars.$roundCorners;
        padding: vars.$formPad;
        outline: vars.$outlineTransition;
        .error {
            max-height: min-content;
            color: red;
        }
        label {
            @include funcs.flexCenter();
            flex-direction: vars.$flexDirection;
            color: vars.$tertiaryColor;
            padding: vars.$formChildPad;
            width: 100%;
            font-weight: 500;
            font-size: 20px;
            font-smooth: auto;
            input {
                border: none;
                color: vars.$tertiaryColor;
                background-color: vars.$primaryColor;
                padding: vars.$formChildPad;
                width: 100%;
                border-radius: vars.$roundCorners;
                &:hover {
                    background-color: vars.$gray;
                    outline: vars.$outlineTransition;
                    transition: vars.$transition;
                }

                &:focus{
                    background-color: vars.$gray;
                    outline: vars.$outlineTransition;
                    color: vars.$tertiaryColor;
                }
            }
        }
        button {
            border: none;
            padding: vars.$formChildPad;
            background-color: rgba(vars.$tertiaryColor, 0.25);
            width: 250px;
            border-radius: vars.$roundCorners;
            margin: 20px 0px 0px 0px;
            font-size: 20px;
            &:hover {
                background-color: rgba(vars.$tertiaryColor, 0.5);
                color: rgba(vars.$secondaryColor, 0.0);
                outline: vars.$outlineTransition;
                transition: vars.$transition;
            }
            &:hover:after {
                content: "Lets go!";
                color: vars.$tertiaryColor;
            }
            &:hover span {
                transition: vars.$transition;
                display: none;
            }
        }
    }
}