@use 'Styles/vars';


@mixin shadows {
    box-shadow: vars.$buttonHoverShadow;
}

@mixin flexStuff {
    display: vars.$flexDisplay;
    flex-direction: vars.$flexDirection;
    justify-content: vars.$justify;
    align-items: vars.$alignItems;
}

div.container {
    height: 100vh;
    width: 100%;
    @include flexStuff;
    form {
        @include flexStuff;
        background-color: #25272e;
        width: 375px;
        border-radius: vars.$roundCorners;
        padding: vars.$formPad;
        outline: vars.$outlineTransition;
        .error {
            max-height: min-content;
            color: red;
        }
        label {
            @include flexStuff;
            color: vars.$test-color;
            padding: vars.$formChildPad;
            width: 100%;
            font-weight: 500;
            font-size: 20px;
            font-smooth: auto;
            input {
                border: none;
                color: vars.$test-color;
                background-color: vars.$primaryColor;
                padding: vars.$formChildPad;
                width: 100%;
                border-radius: vars.$roundCorners;
                &:hover {
                    transition: 1s;
                    background-color: vars.$secondaryColor;
                    outline: vars.$outlineTransition;
                }

                &:focus{
                    background-color: vars.$secondaryColor;
                    outline: vars.$outlineTransition;
                    color: vars.$primaryColor;
                }
            }
        }
        button {
            border: none;
            padding: vars.$formChildPad;
            background-color: vars.$secondaryColor;
            width: 250px;
            border-radius: vars.$roundCorners;
            margin: 20px 0px 0px 0px;
            &:hover {
                background-color: rgba(vars.$tertiaryColor, 0.5);
                color: rgba(vars.$secondaryColor, 0.0);
                // outline: vars.$outlineTransition;
            }
            &:hover:after {
                content: "Lets go!";
                color: vars.$tertiaryColor;
                padding-right: 50px;
            }
        }
    }
}